%% -*- encoding: utf-8 mode: erlang -*-

[{lager, [{handlers, [{lager_console_backend, debug},
                      {lager_file_backend,
                       [{"error.log", error, 10485760, "$D0", 5},
                        {"console.log", debug, 10485760, "$D0", 5}]}]}]},
 {sync, [{executable, "emacsclient"}]},
 {winmeserl, [{port_cmd,"win_mesg_cons_gw.exe -l -b 50 -s"},
	      {port_heartbeat_time, 70}]}].
