%%-*- mode: erlang -*-

{deps_dir, ["../../deps"]}.

{cover_enabled, true}.

{deps, [{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {branch, "master"}}},
        {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
        {winmeserl, ".*", {git, "git://github.com/aleksandr-vin/winmeserl.git", {branch, "master"}}}]}.
